{{ define "main" }}

<main class="bg-lampa_black">
  <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between px-12 pb-12 border-t-2 border-lampa_gray">
    <div class="">
      <h1 class="text-lampa_gray font-serif text-4xl">{{ i18n "head-of-laboratory" }}</h1>
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12">
    {{ range where .Pages "Params.role" "head" }}
      {{ block "person-card" . }}
      {{ end }}
    {{end}}
  </div>


  <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between px-12 pb-12 border-t-2 border-lampa_gray">
    <div class="">
      <h1 class="text-lampa_gray font-serif text-4xl">{{ i18n "lecturer" 3 }}</h1>
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12">
    {{ range where .Pages "Params.role" "lecturer" }}
      {{ block "person-card" . }}
      {{ end }}
    {{end}}
  </div>

  <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between px-12 pb-12 border-t-2 border-lampa_gray">
    <div class="">
      <h1 class="text-lampa_gray font-serif text-4xl">{{ i18n "assistant" 3 }}</h1>
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12">
    {{ range where .Pages "Params.role" "assistant" }}
      {{ block "person-card" . }}
      {{ end }}
    {{end}}
  </div>

  <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between px-12 pb-12 border-t-2 border-lampa_gray">
    <div class="">
      <h1 class="text-lampa_gray font-serif text-4xl">{{ i18n "technical-staff" 3 }}</h1>
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12">
    {{ range where .Pages "Params.role" "technical-staff" }}
      {{ block "person-card" . }}
      {{ end }}
    {{end}}
  </div>

</main>

{{ end }}