{{ define "main" }}
  <main class="bg-lampa_gray max-w-screen-xl mx-auto min-h-screen my-12">
    <div class="grid grid-cols-1 md:grid-cols-2">

      <div class="flex flex-col border border-lampa_blue">
        <div class="flex flex-row justify-center ">
          <img class="object-cover h-128 w-128 mx-auto" src="{{ .Params.photo }}" alt="">
          <span class="">
            <h2 class="text-2xl font-serif bg-lampa_black text-lampa_cyan pl-2">{{ .Title }}</h2>
            <h1 class="text-4xl font-bold bg-lampa_black text-lampa_gray pl-1 pb-4">{{ .Params.name }}</h1>
          </span>
        </div>
      </div>

    <ol class="relative border-s border-lampa_green max-w-screen-sm mx-auto">

      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-lampa_black rounded-full mt-1.5 -start-1.5 border-2 border-lampa_green"></div>
        <time class="text-4xl font-bold leading-none text-lampa_green bg-lampa_black font-serif p-1">{{ i18n "career" }}</time>
      </li>
      
      {{ range .Params.career }}
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-lampa_black rounded-full mt-1.5 -start-1.5 border-2 border-lampa_green"></div>
          <time class="mb-1 text-sm font-bold leading-none text-lampa_black font-serif bg-lampa_green p-1">{{ .year }}</time>
          <h3 class="text-lg font-semibold text-lampa_black">{{ .title }}</h3>
          <p class="mb-4 text-base font-normal text-lampa_black font-serif">{{ .institution }}</p>
        </li>
      {{ end }}
    </ol>
  </div>


  
  </main>
{{ end }}