<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/output.css">
</head>
<body class="bg-lampa_gray">
    {{ block "nav" . }}
    {{ end }}
    <!-- <main class="min-h-screen max-w-screen-xl mx-auto"> -->
    {{ block "main" . }}
    {{ end }}
    <!-- </main> -->
    {{ block "footer" . }}
    {{ end }}

    {{ with resources.Get "flowbite/node_modules/flowbite/dist/flowbite.min.js" }}
        {{ with resources.Copy "/flowbite.min.js" . }}
            <script src="{{ .Permalink | relURL }}"></script>
            {{ end }}
    {{ end }}
</body>
</html>