{{ define "hero" }}

    <header class="relative flex items-center h-screen overflow-hidden bg-lampa_black">
        <div class="relative z-30 p-10 text-lampa_gray">
            <h1 class="max-w-2xl text-6xl font-extrabold text-lampa_black bg-lampa_green">{{ .Site.Title }}</h1>
            <p class="max-w-2xl text-lampa_gray font-bold text-3xl">{{ .Site.Language.Params.subtitle | safeHTML }}</p>
        </div>
    <video playsinline autoplay muted loop class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source src="{{ .Site.BaseURL }}/img/hero/hero_video.mp4" type="video/webm">
        Your browser does not support the video tag.
    </video>
  </header>

{{ end }}