{{ define "nav" }}
<nav class="bg-lampa_black">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="{{ .Site.Language | absURL }}" class="flex items-center space-x-3 rtl:space-x-reverse">
        <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" /> -->
        <span class="text-lampa_gray tracking-tighter text-3xl font-black whitespace-nowrap">{{ .Site.Title }}</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="text-lampa_gray items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="bg-lampa_black hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
        </li>
        <li>
          <a href="#" class="block inline-flex items-center py-2 px-3 text-xl font-semibold text-lampa_gray rounded md:border-0 md:p-0 hover:underline hover:decoration-1 hover:underline-offset-4">
            {{ i18n "research" }}
            <svg class="w-3.5 h-3.5 text-lampa_gray mt-1 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
            </svg>
        </a>
          
        </li>
        <li>
          <a href="#" class="block inline-flex items-center py-2 px-3 text-xl font-semibold text-lampa_gray rounded md:border-0 md:p-0 hover:underline hover:decoration-1 hover:underline-offset-4">
            {{ i18n "projects" }}
            <svg class="w-3.5 h-3.5 text-lampa_gray mt-1 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="block inline-flex items-center py-2 px-3 text-xl font-semibold text-lampa_gray rounded md:border-0 md:p-0 hover:underline hover:decoration-1 hover:underline-offset-4">
            {{ i18n "events" }}
            <svg class="w-3.5 h-3.5 text-lampa_gray mt-1 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="block inline-flex items-center py-2 px-3 text-xl font-semibold text-lampa_gray rounded md:border-0 md:p-0 hover:underline hover:decoration-1 hover:underline-offset-4">
            {{ i18n "equipment" }}
            <svg class="w-3.5 h-3.5 text-lampa_gray mt-1 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
            </svg>
          </a>
        </li>
        <li>
          {{ with .Site.GetPage "/team" }}
          <a href="{{ .Permalink }}" class="block inline-flex items-center py-2 px-3 text-xl font-semibold text-lampa_gray rounded md:border-0 md:p-0 hover:underline hover:decoration-1 hover:underline-offset-4">
            {{ i18n "team" }}
            <svg class="w-3.5 h-3.5 text-lampa_gray mt-1 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
            </svg>
          </a>
          {{ end }}
        </li>
        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between font-semibold text-xl py-2 px-3 text-lampa_gray rounded md:p-0 md:w-auto ">{{ .Site.Language }}
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg></button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbar" class="z-40 hidden font-normal bg-lampa_black divide-y ">
                        <ul class="py-2 text-sm" aria-labelledby="dropdownLargeButton">
                          {{ range $.Site.Home.AllTranslations }}
                          <li>
                            <a href="{{ .Permalink }}" class="block px-4 py-2 font-semibold text-xl text-lampa_gray hover:underline hover:decoration-1 hover:underline-offset-4">{{ .Language.LanguageName }}</a>
                          </li>
                          {{ end }}
                        </ul>
                    </div>
          <!-- <a href="#" class="block inline-flex items-center py-2 px-3 text-xl font-semibold text-lampa_gray rounded md:border-0 md:p-0 hover:underline hover:decoration-1 hover:underline-offset-4">
            {{ .Lang }}
          </a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}