{{ define "person-card" }}

<div class="h-auto">
    <a class="text-lampa_pink" href="{{ .Permalink }}">
      <img class="object-cover h-128" src="{{ .Permalink }}/{{ .Params.photo}}" alt="" />
    </a>
    <div class="p-5">
        <a href="{{ .Permalink }}">
          <p class="font-serif text-xl font-bold text-lampa_gray">{{ .Title }}</p>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-lampa_gray">{{ .Params.name }}</h5>
        </a>
        <a href="{{ .Permalink }}" class="inline-flex items-center py-2 text-sm font-medium text-center text-lampa_green rounded-lg hover:text-lampa_pink">
            {{ i18n "read-more" }}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>

{{ end }}