{{ define "post-card" }}

<div class="h-auto">
    <a class="text-lampa_pink" href="{{ .Permalink }}">
      {{ if in .Params.Categories "research" }}
        {{ if isset .Params "image" }}
        {{ else }}
          <img class="object-cover h-128" src="{{ .Site.BaseURL }}/img/placeholders/research/placeholder-research-dark.png" alt="" />
        {{ end }}
      {{ else if in .Params.Categories "projects" }}
        {{ if isset .Params "image" }}
        {{ else }}
          <img class="object-cover h-128" src="{{ .Site.BaseURL }}/img/placeholders/projects/placeholder-projects.jpg" alt="" />
        {{ end }}
      {{ else if in .Params.Categories "events" }}
        {{ if isset .Params "image" }}
        {{ else }}
          <img class="object-cover h-128" src="{{ .Site.BaseURL }}/img/placeholders/lecture/placeholder-lecture.jpg" alt="" />
        {{ end }}
      {{ else }}
      <p class="text-lampa_cyan">Not found</p>
      {{ end }}
    </a>
    <div class="p-5">
        <a href="{{ .Permalink }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-lampa_gray">{{ .Title }}</h5>
        </a>
        <p class="mb-3 font-normal text-lampa_gray">{{ .Date | time.Format ":date_long" }}</p>
        <a href="{{ .Permalink }}" class="inline-flex items-center py-2 text-sm font-medium text-center text-lampa_green rounded-lg hover:text-lampa_pink">
            {{ i18n "read-more" }}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>

{{ end }}