{{ define "main" }}
    <header class="relative flex items-center h-screen overflow-hidden">
        <div class="relative z-30 p-10 text-lampa_gray">
            <h1 class="max-w-2xl text-6xl font-extrabold text-lampa_black bg-lampa_pink">{{ i18n "error-404" }}</h1>
            <p class="max-w-2xl text-lampa_black text-3xl mt-4 font-bold">404</p>
        </div>
    </header>
{{ end }}