{{ define "main" }}
  {{ block "hero" . }}
  {{ end }}

  <main class="bg-lampa_black">
    <div class="max-w-screen-xl mx-auto min-h-32">

    </div>
    <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between px-12 pb-12 border-t-2 border-lampa_gray">
      <div class="">
        <h1 class="text-lampa_gray font-serif text-4xl">{{ i18n "last-posts" }}</h1>
      </div>
      <div class="">
        <h3 class="text-lampa_gray text-xl underline underline-offset-4 decoration-lampa_gray hover:no-underline">{{ i18n "more" }}</h1>
      </div>
    </div>

    <div class="grid grid-cols-1 max-w-screen-xl mx-auto md:grid-cols-3 gap-12">
      {{ range first 6 (where .Site.RegularPages "Section" "posts") }}
      {{ block "post-card" . }}
      {{ end }}
      {{ end }}
    </div>
  </main>
{{ end }}